html,body{
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 20px;
}
#stop_button {
    input{
        border: thin #000000 solid;
        padding: 3px;
        margin: 10px;
    }
}
#audio_button {
    h2{
        font-size: medium;
        margin: 10px;
    }
    input{
        border: thin #000000 solid;
        background-color: #99ff99;
        padding: 3px;
        margin-bottom: 10px;
    }
}
#about {
    ul{
        margin-top: 10em;
    }
}